:root {
    /*colors*/
    --blue: #001F3F;
    --light-blue: #00d5ff;
    --orange: #FF851B;
    --violet: #8A2BE24D;
    --color-text: #DDDDDD;
    
    /*font*/
    --font-family: "Raleway", "Arial", san-serif;
    --font-size: 24px;
    --font-size-h1:48px;
    --font-size-h2:40px;
    --border-radius: 5px;
    --header-height: 118px;

}
/*global*/
*,
*::after,
*::before {
   
    box-sizing: border-box;
}

.cyan-text {
    color: var(--light-blue);
}
.orange-text{
    color: var(--orange);
}

.container {
    width: 1280px;
    margin: 0 auto;
}


body {
    width: 100%;
    margin: 0 auto;
    background-color: var(--blue);
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color-text);
}

a {
    color: var(--color-text);
    text-decoration: none;

    transition: all 0.3s ease;
}

a:hover {
    color: var(--orange);
}
/*layout*/




/*page-header*/
.page-header {
    border-bottom: 1px solid var(--color-text);

}

.page-header__row {
    width: 913px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
    
}

.page-header__nav {
    flex-grow: 1;
    margin-left: 30px;
    
}

.page-header__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 60px;

}

.page-video__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    line-height: 0;
}
.page-video__title {
    display: flex;
    justify-content: center;
    font-size: var(--font-size-h1);
    font-weight: 400;
    padding: 74px 30px 60px 30px;
    line-height: 60px;
    
}

.loonGo {
    font-family: 'Offside', sans-serif;
    font-weight: 400;
    color: var(--light-blue);
    margin-left:10px;
    
}
.page-project__container {
    margin-top:126px;
    /* margin: 0 auto; */
    
}
.page-project__title {
    display: flex;
    justify-content: center;
    font-size: var(--font-size-h2);
    font-weight: 500;
    color: var(--light-blue);
}
.page-project__stage {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(12, 85px);
    grid-template-rows: repeat(6, auto);
    justify-content: center;
    align-items: stretch;
}
.page-project__stage-title--left {
    padding:26px 0 0 16px;
    height: 112px;
    grid-column: 1 / span 12;
    font-size: var(--font-size-h2);
    font-weight: 500;
    line-height: normal;
    place-self:end start;
}
.stage-img--left{
    grid-column: 1 / span 7;
    padding-top: 112px;
}
.page-project__stage-description--left {
    grid-column: 9 / span 4;
    min-width: 150px;
    font-size: 32px;
    align-self: center;
    
}
.page-project__stage-rocket--left {
    grid-column: 8;
    margin:20px 0 0 12px;
    transform: scale(-1, 1);
}


.page-project__stage-title--right {
    grid-column: 1 / span 12;
    padding: 81px 16px 0 0;
    min-height: 112px;
    font-size: var(--font-size-h2);
    font-weight: 500;
    line-height: normal;
    place-self:start end;
}
.stage-img--right{
    padding-top: 112px;
    grid-column: 6 / span 7;
}
.page-project__stage-description--right {
    min-width: 150px;
    grid-column: span 4;
    font-size: 32px;
    align-self: center;
}
.page-project__stage-rocket--right {
    grid-column: 5;
    justify-self: end;
    margin:20px 12px 0 0;
    
}
