.orange-text {
    display:inline;
}
/* friends */
.friends__content{
    width: 100%;
    position: relative;
}
.friends__first-block {
    background: url('../img/background/pic_1.png') no-repeat center center;
    width: 1280px;
    height: 40em;
}
.blur {
    background-color: rgba(8, 8, 8, 0.199);
    width: inherit;
    height: inherit;
    display: flex;
    backdrop-filter: blur(5px);
}

.friends__second-block {
    background: url('../img/background/pic_2.png') no-repeat center center;
    width: 1280px;
    height: 40em;
}
.block__text {
    padding-top:112px;
    width: 100%;
    height: 336px;
    margin:112px auto;
    text-align: center;
    font-weight: 400;
    font-size: var(--font-size-h2);
    position: relative;
    z-index: 1;
    line-height: normal;
}

.block__text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 336px;
    background: rgba(138, 43, 226, 0.50);
    box-shadow: 0px 0px 2px 10px rgba(0, 213, 255, 0.20), 0px 0px 40px 10px #000 inset;
    filter: blur(25px);
    z-index: -1;
}
.second-text {
    margin: 0;
    position: absolute;
    top: 800px;
    left: 0;
    backdrop-filter: blur(9px);
}

/* friends-end */



/* logo-block */
.logo-middle-block {
    width: 1920px;
}
.block__level-one{
    background: url('../img/background/pic_3.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 80em;
    box-shadow: 0px 100px 0px 0px #020b1f  inset;
    text-align: center;
}
.loonGo {
    margin:0;
}
.level__text{
    position: absolute;
    top: 1722px;
    left: 0;
    font-weight: 400;
    font-size: 128px;
    color: #00D5FF;
    box-shadow: 0px 2px 2px 0px #0000004D;
    width: 100%;
    margin: 0 auto;
    backdrop-filter: blur(15px);
    
}
.level__text::before {
    background: rgba(34, 4, 63, 0.705);
    box-shadow: 0px 0px 2px 10px rgba(0, 213, 255, 0.20), 0px 0px 40px 10px #00000044 inset;
    
}

/* our-team-block */
.team-block {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 30px;
    row-gap: 15px;
    padding-top:112px;
    justify-content: center;
}
.team-block__title {
    grid-column: span 2;
    place-self:end center;
    font-size: var(--font-size-h2);
}
.form_to_us{
    display: grid;
    margin: 0 auto;
    width: 1280px;
    height: 100%;
    border: 1px solid #E3DEFF33;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    backdrop-filter: blur(30px);
    box-shadow: 0px 1px 40px 0px #E3DEFF33 inset;
    box-shadow: 0px 4px 18px 0px #9A92D24D inset;
    box-shadow: 0px 98px 100px -48px #CAACFF4D inset;
    justify-content: center;
}
.title-form{
    text-align: center;
}
.form__text{
    font-family: "Raleway";
    font-size: 32px;
    font-weight: 800;
    color:  #00D5FF;
}
.consultation__form{
    width: 1280px;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
    padding-top: 1%;
    padding-bottom: 12%;
    margin-bottom: 5%;
    gap: 7%;
    justify-content:center;
}
.box_A {
    text-align: center;
    /* align-items: center; */
    /* justify-content:center; */
    width:100%;
    height: 2em;
    background: #bcbbbd;
    backdrop-filter: blur(30px);
    box-shadow: 0px 1px 40px 0px #E3DEFF33 inset;
    box-shadow: 0px 4px 18px 0px #9A92D24D inset;
    box-shadow: 0px 98px 100px -48px #CAACFF4D inset;
    /* padding: 15%;
    gap: 15% */
    /* text-align: center;
    display: flex;
    align-items: center;
    justify-content:center; */
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 400;
}
.box-text{
    height: 5em;
}
.box-btn{
    background: #FF851B;
    color: #DDDDDD;
}


/* our-team-block-end */